#footer {
  overflow: hidden;
  color:white;
  background: url("./images/footer-background.png");
  position: sticky;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top:20px;
  padding-bottom:20px;
  z-index:1;
}

#footer-guitar-line {
    display:flex;
    align-items:center;
    margin-top:20px;
}

#footer-guitar {
    max-width:120px;
}

#footer-guitar-line p {
    font-family:var(--font-nav);
    font-size:2em;
    width:fit-content;
    margin:0;
}

#footer .container {
    position:relative;
}

#footer-copy {
    position:absolute;
    bottom:10%;
    right:0;
}

@media (max-width: 700px) {
  #footer-copy {
    bottom:0%;
  }

  #footer-optional {
    display:none;
  }

  #footer-guitar-line p {
    padding-left:20px;
  }
}